{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}Inicio — Blog de Alfredo Canales{% endblock %}

{% block hero %}
<section class="hero">
  <div class="hero-bg"></div>

  <div class="chip">Bienvenido a mi espacio digital</div>

  <div class="container hero-content">
    

    <!-- Nombre en H1 -->
    <h1 class="hero-title">Alfredo Canales</h1>
      <figure class="hero-portrait-left">
    <img src="{% static 'images/Alfredo.png' %}" alt="Alfredo Canales" loading="eager" decoding="async">
  </figure>
    <!-- Subtítulo en H2 debajo -->
    <h2 class="hero-subtitle">Ingeniero Civil Industrial</h2>

    <p class="lead">
      Inteligencia artificial - Analista - Aplicaciones web - Machine Learning - Optimización -
      Gestión de proyectos - Finanzas
    </p>

    <div class="cta">
      <a class="btn-primary" href="{% url 'proyectos' %}">Explorar Blog →</a>
      <a class="btn-ghost" href="{% url 'about' %}">Sobre Mí</a>
    </div>
  </div>

  <div class="waves"><span></span><span></span><span></span></div>
</section>
{% endblock %}


{% block content %}

{% endblock %}
